// ------------------------------
// var
// ------------------------------

// ---------- size ----------
$site-w-min: 320px;
$site-w-pc: 1366px;
$site-w-sp: 375px;
$breakPoint: 768px;

// ---------- color ----------
$color-white: #fff;
$color-black: #000;
$color-light-gray: #D9D9D9;
$color-gray: #626262;
$color-dark-gray: #555555;
$color-gold: #C99612;
$color-purple: #38118A;
$color-blue: #5291BE;
$color-pink: #EE8888;

// ---------- ease ----------
$ease-1: ease-out;