// ------------------------------
// inner
// ------------------------------

.l-inner{
    position: relative;
    max-width: $site-w-pc;
    margin: 0 auto;
    padding: 0 calc(100 / 1366 * 100vw);

    @media screen and (min-width: ($site-w-pc+1)){
        padding: 0 100px;
    }
    @media screen and (max-width: $breakPoint){
        padding: 0 calc(20 /375 * 100vw);
    }
}


