extends ../_template/_extend

block vars
    -
        var page = {
            root: './',
            class: 'page-home'
        };
    -

block content

    section.visual
        .l-inner
            .visual__content#js-content
                h1.visual__ttl 仏度診断
                p.visual__txt
                    | あなたは人のミスやわがまま、どれくらい許せる？あなたは心の広い人？
                    br
                    | あなたを診断してみましょう～！
                section.visual__body
                    .visual__container#js-diagnosis
                        p.visual__num#js-num Q1
                        h2.visual__question#js-question
                            | トイレの行列であなたの後ろに並んだ親子連れの子どもがグズっている様子。
                            br
                            | 自分も限界だけど順番がきたときに親子に譲りますか？
                        .visual__btns
                            button.visual__btn.visual__btn.js-btn(name="YES") 
                                span YES
                            button.visual__btn.visual__btn--pink.js-btn(name="NO") 
                                span NO
                        button.visual__back.js-btn.js-btn--back(name="back")
                            span 一つ前に戻る
                    .visual__ill: img#js-ill(src=page.root + 'assets/images/home/image5.png' alt="")
                    
                    .visual__container#js-result
                        p.visual__param#js-param ほとけ度20％ 
                        p.visual__type#js-type 「どちらかといえば鬼？タイプ」 
                        p.visual__desc#js-desc 気が短くて怒りっぽいところがあるあなたは、気に入らないことがあればその場で文句を言う、ある意味正直な人。しかも人を見る目が厳しいので悪口を言うことが多く、誰に対してもキツい態度を取りがちなのでは？ 自分のイライラを身近な人にぶつけることも多そう。そんなあなたは、残念ながらほとけというより鬼を連想させるタイプかも。ペットを飼う、花を育てるなどして、やさしく穏やかな気持ちを取り戻して。
                        button.visual__back#js-reset
                            span 最初からやり直す